In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Project folder path as a string
path = r'/Users/Nimrat/Documents/World Happiness Report'

In [6]:
#Import the “world happiness report.csv” data set into your notebook using the os library
df = pd.read_csv(os.path.join(path, 'Original data', 'world_happiness_report.csv'), index_col = False, encoding='latin1')

In [9]:
#To print data structure
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2363 non-null   object
 1   year                              2363 non-null   int64
 2   Life Ladder                       2363 non-null   float64
 3   Log GDP per capita                2335 non-null   float64
 4   Social support                    2350 non-null   float64
 5   Healthy life expectancy at birth  2300 non-null   float64
 6   Freedom to make life choices      2327 non-null   float64
 7   Generosity                        2282 non-null   float64
 8   Perceptions of corruption         2238 non-null   float64
 9   Positive affect                   2339 non-null   float64
 10  Negative affect                   2347 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 203.2+ KB
None

In [11]:
#To check the values of the data
df.head(10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.500,0.718,0.164,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.800,0.679,0.187,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.100,0.600,0.118,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.160,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.234,0.776,0.614,0.268
5,Afghanistan,2013,3.572,7.680,0.484,52.000,0.578,0.059,0.823,0.547,0.273
6,Afghanistan,2014,3.131,7.671,0.526,52.300,0.509,0.102,0.871,0.492,0.375
7,Afghanistan,2015,3.983,7.654,0.529,52.600,0.389,0.078,0.881,0.491,0.339
8,Afghanistan,2016,4.220,7.650,0.559,52.925,0.523,0.040,0.793,0.501,0.348
9,Afghanistan,2017,2.662,7.648,0.491,53.250,0.427,-0.123,0.954,0.435,0.371

In [13]:
# To check missing values
missing_values = df.isnull().sum()
print(missing_values)

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   28
Social support                       13
Healthy life expectancy at birth     63
Freedom to make life choices         36
Generosity                           81
Perceptions of corruption           125
Positive affect                      24
Negative affect                      16
dtype: int64

In [17]:
# To standardize column names by removing extra spaces
df = df.rename(columns={
    'Country name': 'country_name',
    'Life Ladder': 'life_ladder',
    'Log GDP per capita': 'gdp_per_capita',
    'Social support': 'social_support',
    'Healthy life expectancy at birth': 'life_expectancy_birth',
    'Freedom to make life choices': 'freedom_for_life_choices',
    'Generosity': 'generosity',
    'Perceptions of corruption': 'perceptions_of_corruption',
    'Positive affect': 'positive_affect',
    'Negative affect': 'negative_affect'})

In [18]:
#To check the output
df.head()

,country_name,year,life_ladder,gdp_per_capita,social_support,life_expectancy_birth,freedom_for_life_choices,generosity,perceptions_of_corruption,positive_affect,negative_affect
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.164,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.187,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.118,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.160,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.234,0.776,0.614,0.268

In [19]:
#To fill missing values with mean
cols_to_fill = ['gdp_per_capita', 'social_support', 'life_expectancy_birth', 'freedom_for_life_choices', 'perceptions_of_corruption', 'positive_affect', 'negative_affect']
df[cols_to_fill] = df[cols_to_fill].fillna(df[cols_to_fill].mean())

In [20]:
#To fill missing values in generosity column with median as there are positive and negative values.
df['generosity'] = df['generosity'].fillna(df['generosity'].median())

In [22]:
#To check the output
df.isnull().sum()

country_name                 0
year                         0
life_ladder                  0
gdp_per_capita               0
social_support               0
life_expectancy_birth        0
freedom_for_life_choices     0
generosity                   0
perceptions_of_corruption    0
positive_affect              0
negative_affect              0
dtype: int64

In [23]:
df.head()

,country_name,year,life_ladder,gdp_per_capita,social_support,life_expectancy_birth,freedom_for_life_choices,generosity,perceptions_of_corruption,positive_affect,negative_affect
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.164,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.187,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.118,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.160,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.234,0.776,0.614,0.268

In [24]:
#To check for duplicates
df.duplicated().sum()

np.int64(0)

In [25]:
#To perform basic descriptive statistical analysis
df.describe()

,year,life_ladder,gdp_per_capita,social_support,life_expectancy_birth,freedom_for_life_choices,generosity,perceptions_of_corruption,positive_affect,negative_affect
count,2363.000000,2363.000000,2363.000000,2363.000000,2363.000000,2363.000000,2363.000000,2363.000000,2363.000000,2363.000000
mean,2014.763860,5.483566,9.399671,0.809369,63.401828,0.750282,-0.000660,0.743971,0.651882,0.273151
std,5.059436,1.125522,1.145221,0.120878,6.750773,0.138291,0.158647,0.179907,0.105699,0.086835
min,2005.000000,1.281000,5.527000,0.228000,6.720000,0.228000,-0.340000,0.035000,0.179000,0.083000
25%,2011.000000,4.647000,8.520000,0.744000,59.545000,0.662000,-0.108000,0.696000,0.573000,0.209000
50%,2015.000000,5.449000,9.492000,0.834000,64.900000,0.769000,-0.022000,0.790000,0.662000,0.263000
75%,2019.000000,6.323500,10.382000,0.904000,68.400000,0.861000,0.088000,0.864000,0.736500,0.326000
max,2023.000000,8.019000,11.676000,0.987000,74.600000,0.985000,0.700000,0.983000,0.884000,0.705000

In [27]:
#Export the “world happiness report.csv” cleaned data set into your notebook using the os library
df.to_csv(os.path.join(path, 'Prepared data', 'world_happiness_report_cleaned.csv'))